<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IDataEventService" />
            </netNamedPipeBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IDataEventService">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/CommonDataEventServer"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IDataEventService"
                contract="DataServiceRef.IDataEventService" name="NetNamedPipeBinding_IDataEventService">
                <identity>
                    <servicePrincipalName value="host/ASH-PC" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:9931/CommonDataEventServer"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDataEventService"
                contract="DataServiceRef.IDataEventService" name="NetTcpBinding_IDataEventService" />
        </client>
    </system.serviceModel>
</configuration>